@using Enovel.Canacol.FacturacionElectronica.Models.LoginModel

@model LoginModelView
@{
    Layout = null;
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/estilosGenerales.css");
}

<h2>Fusionando vistas parciales</h2>

@{Html.RenderPartial("InicioProveedor", Model); }
@{Html.RenderPartial("InicioFuncionario", Model);}

