

  
  
  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  #Row1{
    margin-bottom: 10px;
    }
  
  a:focus {
    outline: none;
  }
  
  a {
    color: #5cb48e;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none !important;
  }

  a:hover {
    color: #333333;
  }

  #nav a {
    display: block;
    width: 180px;
    height: 180px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0 auto;
  }
  #nav li {
    margin-bottom: 30px;
  }
  #nav i {
    padding-top: 50px;
    display: block;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .homebutton {
    background: #207d59;
  }
  
  .aboutbutton {
    background: #3b5b8e;
  }
  
  .projectbutton {
    background: #5c9faf;
  }
  
  .contactbutton {
    background: #b85b53;
  }

  .providers {
    background: #dd5a4e;
  }
 
  .funcionarios {
    background: #53b87a;
  }
 
 
  #nav ul li { display: inline; }

  footer{
    color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  #banner{
    width: 100%;
height: 100px;
}   
.main-container {
margin-top: 20px;
}
#Row1{
margin-bottom: 10px;
}
body{
padding-bottom: 50px;
}
 