@{
    ViewBag.Title = "MenuFuncionario";
}

<h2>Menú Funcionario</h2>
<hr>


        <div id="nav" class="main-navigation hidden-xs hidden-sm">
            <div class="main-menu row" id="Row1">
                <div class="col-md-3 espacio">
                    <a class="show-1 active homebutton shadow" href="#"><i class="fa fa-cog"></i>Gestionar soportes</a>
                </div>
                <div class="col-md-3 espacio">
                    <a class="show-2 aboutbutton shadow" href="#"><i class="fa fa-file-alt"></i>Todos los soportes</a>
                </div>
                <div class="col-md-3 espacio">
                    <a class="show-3 projectbutton shadow" href="#"><i class="fa fa-id-card"></i>Gestionar Roles</a>
                </div>
                <div class="col-md-3 espacio">
                    <a class="show-5 contactbutton shadow" href="@Url.Action("GestionarFechas", "FechasFacturacion")"><i class="fa fa-calendar-check"></i>Fechas de
                        radicación</a>
                </div>
                <div class="col-md-3 espacio">
                    <a class="show-1 active providers shadow" href="#"><i class="fa fa-male"></i>Los proveedores</a>
                </div>
                <div class="col-md-3 espacio">
                    <a class="show-2 funcionarios shadow" href="#"><i class="fa fa-users"></i>Los funcionarios</a>
                </div>
            </div>
        </div>
