
@{
    ViewBag.Title = "MenuProveedor";
    //if (Session["UserID"] == null)
    //{
    //    Response.Redirect("~/Login/Index");
    //}
}
<div class="container main-container">
    <h1>Menú <small></small> </h1>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="hidden-sm">
                <div id="nav" class="main-navigation hidden-xs hidden-sm">
                    <div class="main-menu row">
                        <div class="col-md-3">
                            <a class="show-1 active homebutton" href="#"><i class="fa fa-edit"></i>Actualizar mis datos</a>
                        </div>
                        <div class="col-md-3">
                            <a class="show-2 aboutbutton" href="#"><i class="fa fa-scroll"></i>Radicar soporte</a>
                        </div>
                        <div class="col-md-3">
                            <a class="show-3 projectbutton" href="#"><i class="fa fa-file"></i>Mis soportes</a>
                        </div>
                        <div class="col-md-3">
                            <a class="show-5 contactbutton" href="#"><i class="fa fa-key"></i>Cambiar clave</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



