<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facturación Electronica</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />

</head>



<nav class="navbar navbar-expand-lg navbar-dark NavBarCanacol">
    <a class="navbar-brand" href="#">
        <a class="navbar-brand" href="#">
            Facturación Electronica
        </a>
    </a>
</nav>

@using (Html.BeginForm("LogOut", "Login", FormMethod.Post))
{
    <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
}

<body>
    <div class="container main-container">
        @RenderBody()
    </div>

    <footer class="footer text-center">
        <div class="container">
            <p>
                &copy; 2019 ENOVEL S.A
            </p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
